* {margin:10;}


h1 {color: rgb(87, 218, 218);}
svg {width: 1080px;
}
div {background-color: rgb(39, 150, 48);}

body {
    /* Define a imagem de fundo e sua posição */
    background-image: url("/img/mustang-shelby.webp");
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a área */
    background-position: center; /* Posiciona a imagem no centro */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    /* Defina outras propriedades de estilo, como cor de texto, fonte, etc. */
    color: #bb2525; /* Exemplo: texto branco */
    font-family: Arial, sans-serif; /* Exemplo: fonte Arial ou similar */
    
  }