* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  width: 50px;
  fill: #7effb2;
}

div {
  background-color: #175a2c;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  /* border: 2px red solid;
  margin: 10px; */
}

p {
  color: white;
  font-weight: 600;
  font-family: "Montserrat";
}
